/* :: Compose Mail CSS */

ul {
    &.wysihtml5-toolbar {
        position: relative;
        z-index: 1;
        @include display-flex(flex);
        @include flex-wrap(wrap);

        a {
            &.btn {
                &.wysihtml5-command-active {
                    @include box-shadow(none);
                    background-color: $primary-color;
                    color: $white-color;
                    border-radius: 0;
                    outline: 0;
                }
            }
        }
    }
}

.mail-box-header {
    &.view {
        border-bottom: 1px solid $border-color;
    }
}

.btn.btn-orange.btn-file.compo-email {
    border-radius: 3px;

    @media#{$breakpoint-xs} {
        width: 100%;
    }
}

.compose-email--area {
    .dropdown {
        li {
            padding: 0;
        }

        a {
            font-size: 12px;
            font-weight: 500;
            padding: 10px 15px;
        }
    }
}

.btn {
    &.btn-orange {
        &.btn-file {
            &.compo-email {
                background-color: $primary-color;
                padding: 10px 20px;
                color: $white-color;
                letter-spacing: 1px;
                border-radius: 3px;
            }
        }
    }
}