/* :: Reboot CSS */

* {
    margin: 0;
    padding: 0;
}

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $white-color;
    z-index: 999999;
}

body {
    font-family: $fonts;
    background-color: #f2f4f8;
    color: $text-color;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
    color: $heading-color;
}

p {
    color: $text-color;
    line-height: 2;
    font-size: 13px;
}

a,
a:hover,
a:focus {
    @include transition-duration(500ms);
    text-decoration: none;
    outline: 0 solid transparent;
}

ul,
ol {
    margin: 0;
}

ul li,
ol li {
    list-style: none;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.bg-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.popover,
.tooltip {
    z-index: 9999999;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mt-150 {
    margin-top: 150px !important;
}

.mt-200 {
    margin-top: 200px !important;
}

.mt-250 {
    margin-top: 250px !important;
}

.mt-300 {
    margin-top: 300px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.mb-150 {
    margin-bottom: 150px !important;
}

.mb-200 {
    margin-bottom: 200px !important;
}

.mb-250 {
    margin-bottom: 250px !important;
}

.mb-300 {
    margin-bottom: 300px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-20 {
    padding: 20px;
}

.line-height-50-p-0 {
    line-height: 50px;
    padding: 0;
}

.height-50 {
    height: 50px !important;
}

.height-200 {
    height: 200px !important;
}

.height-300 {
    height: 300px !important;
}

.height-400 {
    height: 400px !important;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

.height-700 {
    height: 700px !important;
}

.height-800 {
    height: 800px !important;
}

.w-15 {
    width: 15% !important;
}

.w-40 {
    width: 40% !important;
}

.w-70 {
    width: 70% !important;
}

.w-50 {
    width: 50% !important;
}

.section-padding-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.h-100vh {
    height: 100vh !important;
}

.bg-default-opacity-8- {
    background-color: rgba(113, 192, 22, 0.8) !important;
}

.bg-green {
    background-color: $green-color;
}

.card {
    position: relative;
    @include display-flex(flex);
    @include flex-direction-column(column);
    min-width: 0;
    background-color: $white-color;
    background-clip: border-box;
    border: none;
    box-shadow: 0 0 25px rgba(36, 102, 253, 0.125);
}

.green-color-overlay {
    position: relative;
    z-index: 1;

    &::after {
        background-color: rgba(113, 192, 22, 0.75);
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.green-color-overlay-2 {
    position: relative;
    z-index: 1;

    &::after {
        background-color: rgba(113, 192, 22, 0.30);
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.pink-color-overlay {
    position: relative;
    z-index: 1;

    &::after {
        background-color: rgba(136, 14, 79, 0.75);
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.danger-color-overlay {
    position: relative;
    z-index: 1;

    &::after {
        background-color: rgba(241, 83, 110, 0.75);
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.dark-color-overlay {
    position: relative;
    z-index: 1;

    &::after {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.primary-color-overlay {
    position: relative;
    z-index: 1;

    &::after {
        background-color: rgba(36, 102, 253, 0.80);
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.btn-default {
    background-color: $white-color;
    color: $dark-text;
    border-color: transparent;
    font-weight: 500;
}

.primary-color {
    background-color: $primary-color;
}

.primary-color-text {
    color: $primary-color;
}

.info-color {
    background-color: $danger-color;
}

.danger-color {
    background-color: $danger-color;
}

.success-color {
    background-color: $green-color;
}

.success-text {
    color: $green-color;
}

.uppercase-text {
    text-transform: uppercase !important;
}

.warning-color {
    background-color: $warning-color;
}

.bg-purple {
    background-color: $purple-color;
}

.bg-blue {
    background-color: $blue-color;
}

.bg-teal {
    background-color: $blue-2;
}

.bg-chok {
    background-color: $bg-chok;
}

.pink-darken-4 {
    background-color: $pink-darken-4;
}

.g-transition-0_8 {
    @include transition-duration(0.8s);
}

.text-color-gray {
    color: $text-color;
}

.g-bg-black {
    background-color: $dark-text;
}

.white-opacity-0_2 {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.border {
    border: 1px solid $border-color;
}

.border-2 {
    border: 5px solid $border-color;
}

.border-primary {
    border: 8px solid $primary-color !important;
}

.border-chok {
    border: 8px solid $bg-chok;
}

.border-info {
    border: 8px solid $info-color !important;
}

.border-danger {
    border: 8px solid $danger-color !important;
}

.alert-outline-primary {
    border-color: $primary-color;
    border-radius: 5px;
}

.alert-outline-warning {
    border-color: $bg-warning-color;
    border-radius: 5px;
}

.alert-outline-success {
    border-color: $text-success-color;
    border-radius: 5px;
}

.alert-outline-info {
    border-color: $info-color;
    border-radius: 5px;
}

.alert-outline-danger {
    border-color: $danger-color;
    border-radius: 5px;
}

.alert-outline-default {
    border-color: $border-color;
    border-radius: 5px;
    background: transparent;
}

.alert-outline-dark {
    border-color: $bg-dark;
    border-radius: 5px;
}

.bg-gray {
    background-color: $background-color;
}

.text-black {
    color: $dark !important;
}

.border-radius-50 {
    border-radius: 50px !important;
}

.table td,
.table th {
    border-top: 1px solid rgba(10, 10, 110, 0.15);
    font-size: 14px;
    vertical-align: middle;

    @media #{$breakpoint-xs} {
        font-size: 12px;
    }
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid rgba(10, 10, 110, 0.15);
    font-size: 14px;

    @media #{$breakpoint-xs} {
        font-size: 12px;
        min-width: 80px;
    }
}

.table-bordered td,
.table-bordered th {
    border: 1px solid rgba(10, 10, 110, 0.15);
    font-size: 14px;

    @media #{$breakpoint-xs} {
        font-size: 12px;
        min-width: 80px;
    }
}

.card-title {
    font-size: 14px;
    margin-bottom: 30px;
}

.btn {
    &:focus {
        @include box-shadow (none !important);
    }
}

.g-transition-0_3 {
    @include transition-duration(.3s);
}

button:focus {
    outline: none;
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.modal-content {
    border: 1px solid $border-color;
    background-color: $white-color;
    box-shadow: 0 5px 150px 0 rgba(0, 0, 0, 0.15);
}

.theme-bg-gra {
    background: -webkit-linear-gradient(225deg, #1de9b6 0, #1dc4e9 100%);
    background: -o-linear-gradient(225deg, #1de9b6 0, #1dc4e9 100%);
    background: linear-gradient(-135deg, #1de9b6 0, #1dc4e9 100%);
}

.modal-backdrop {
    background-color: $white-color;
}

.full-height {
    clear: both;
    min-height: 100%;
}

.form-control {
    height: 40px;
    font-size: 14px;
}

.jarallax {
    position: relative;
    z-index: 0;
}

.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.jvectormap-zoomin,
.jvectormap-zoomout,
.jvectormap-goback {
    background: #ebebeb;
    color: #323232;
    @include transition-duration(500ms);

    &:hover,
    &:focus {
        background: $primary-color;
        color: $white-color;
    }
}

.modal .modal-dialog {
    margin: 150px auto 30px;
}

.order-listing,
.unorder-listing {
    padding-left: 20px;

    li {
        list-style: inherit;
    }
}

.styling-listing {

    li {
        i {
            color: $primary-color;
            padding-right: 5px;
        }
    }
}

.visibility-hidden {
    visibility: hidden;
}

.h-5 {
    height: 5px;
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}