/* :: Slider CSS */

.swiper-container .swiper-slide {
    text-align: center;
    font-size: 1.5rem;
    background-color: $bg-gray;
}

#swiper-vertical {
    height: 200px;
}

#swiper-3d-cube-effect {
    max-width: 300px;
}

#swiper-3d-coverflow-effect .swiper-slide {
    max-width: 300px;
}

#swiper-3d-flip-effect,
#swiper-3d-flip-effect .swiper-slide {
    max-width: 350px;
}

.swiper-slide.img {
    padding: 0;
    padding: 0;
}

.carousel-caption > h3 {
    color: $green-color;
}

.swiper-pagination-bullet {
    background: $white-color;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
    color: $white-color;
}

.testimonials-area {
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.testimonial-description {
    position: relative;
    z-index: 2;
    background-color: transparent;
    padding: 70px 30px 30px 50px;
    border-radius: 6px;
    text-align: center;
    @include transform(scale(0.8));
    @include transition-duration(500ms);
    opacity: 0.5;
}

.testimonial_image {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 40px;
    left: 50%;
    z-index: 9;
    margin-left: -40px;
}

.single-testimonial {
    padding-top: 45px;
}

.testimonial_image > img {
    border-radius: 50%;
    padding: 5px;
    background-color: #f2f4f8;
}

.star-icon > i {
    color: #ff9800;
    font-size: 18px;
}

.star-icon span {
    font-size: 12px;
}

.testimonial-description > h5 {
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 0;
}

.star-icon {
    margin-bottom: 10px;
}

.testimonials-area .section-heading > p {
    margin: auto;
}

.testimonials-area {
    position: relative;
    z-index: 3;
    padding: 100px 5%;
}

.testimonials-area .owl-dot {
    height: 10px;
    width: 10px;
    background-color: $border-color;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: -40px;
}

.testimonials-area .owl-dots {
    width: 100%;
    height: auto;
    text-align: center;
}

.testimonials-area .owl-dot.active {
    background-color: $primary-color;
    border-color: transparent;
}

.partners-slides.owl-carousel .owl-item > img {
    background-color: $white-color;
    padding: 10px 30px;
    border-radius: 6px;
    border: 1px solid $border-color;
}

.welcome-slides-area .owl-prev,
.welcome-slides-area .owl-next {
    color: $white-color;
    width: 100px;
    height: 150px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    @include transition-duration(500ms);
    @include transform(translateY(-50%));
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.2);

    i {
        font-size: 80px;
        line-height: 150px;
    }

    &:hover {
        background-color: $primary-color;
    }
}

.welcome-slides-area .owl-next {
    right: 0;
    left: auto;
}

.welcome-slides-area {
    .display-3 {
        @media #{$breakpoint-lg} {
            font-size: 42px;
        }

        @media #{$breakpoint-md} {
            font-size: 36px;
        }

        @media #{$breakpoint-xs} {
            font-size: 30px;
        }
    }
}

.center {
    .testimonial-description {
        background-color: $primary-color;
        @include transform(scale(1));
        opacity: 1;

        h5,
        p {
            color: $white-color;
        }

        .star-icon {

            span,
            i {
                color: $white-color;
            }
        }
    }

    .testimonial_image {
        height: 90px;
        width: 90px;
        top: 0;
    }
}